.column {
  display:flex;
  width: 90%;
  height: 110%;
  flex-wrap:wrap;
  justify-content: space-around;
  margin: 10rem auto;
}

.card {
  height: 40vh;
  width: 30vw;
  border:3px solid #000;
  margin: 10px;
      display:flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      border-radius: 20px;
      box-shadow: 3px 3px 3px black;
      font-size: large;
  }

.img 
{
flex-wrap: wrap;
align-items: center;
height: 50%;
width: 80%;
border:2.5px solid #000;
}

:root {
  --blue: #ADD8E6;
  --red:#ffb3b2;
  --primary: var(--white);
  --h1: 7.5rem;
  --h2: 5rem;
  --h3: 2.25rem;
}
.hot {
  --primary: var(--blue);
}

.cold {
  --primary: var(--red);
}

body {
  background-color: var(--primary);
}



.btn, 
.btn:link,
.btn:visited {
  border-radius: 5rem;
}

.Original, .Fruit, .SugarFree, .themebtn {
  background-color: white;
    border-radius: 2px;
    border-color: black;
    font-size: 2rem;
}
