.column {
  display:flex;
  width: 90%;
  height: 100%;
  flex-wrap:wrap;
  justify-content: space-around;
  margin: 5rem auto;
}

.card {
  height: 55vh;
  width: 23vw;
  border:2.5px solid #000;
  margin: 10px;
      display:flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      border-radius: 20px;
      box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }

.img 
{
flex-wrap: wrap;
align-items: center;
height: 50%;
width: 80%;
border:2.5px solid #000;
}
.Original, .Fruit, .Stock, .themebtn, .All {
  background-color: white;
    border-radius: 2px;
    border-color: black;
    font-size: 1rem;
    text-align: center;
}


:root {
  --blue: #ADD8E6;
  --red:#ffb3b2;
  --primary: var(--white);
  --h1: 7.5rem;
  --h2: 5rem;
}
.hot {
  --primary: var(--blue);
}

.cold {
  --primary: var(--red);
}

body {
  background-color: var(--primary);
}



.btn, 
.btn:link,
.btn:visited {
  border-radius: 5rem;

}

h1,h2{
  text-align: center;
}

